[submodule "rump"]
	path = rump
	url = git://github.com/libos-nuse/src-netbsd.git
[submodule "netmap"]
	path = netmap
	url = https://code.google.com/p/netmap/
[submodule "dpdk"]
	path = dpdk
	url = git://dpdk.org/dpdk
